/*----------------------------------------------------------------------
    * Dashmater Material Colors
    * Get colors https://m3.material.io/theme-builder#/custom (Export>> Web css>> tokens.css)
    * The Material 3 color scheme is start from 10 to 99 (from dark to light).
    * While the Tailwind color scheme is from 50 to 950 (from light to dark).
    * You need to convert from Material design Color to Tailwind Format.
    * And edit default color from tailwind.config.js
------------------------------------------------------------------------*/
.red-theme {
  --colors-primary-10-rgb: 255,251,255;
  --colors-primary-50-rgb: 255,237,233;
  --colors-primary-100-rgb: 255,218,210;
  --colors-primary-200-rgb: 255,180,163;
  --colors-primary-300-rgb: 255,139,111;
  --colors-primary-400-rgb: 225,112,84;
  --colors-primary-500-rgb: 192,87,62;
  --colors-primary-600-rgb: 160,63,40;
  --colors-primary-700-rgb: 129,40,19;
  --colors-primary-800-rgb: 97,18,1;
  --colors-primary-900-rgb: 61,7,0;
  --colors-secondary-10-rgb: 255,251,255;
  --colors-secondary-50-rgb: 255,237,233;
  --colors-secondary-100-rgb: 255,218,210;
  --colors-secondary-200-rgb: 231,189,179;
  --colors-secondary-300-rgb: 202,162,153;
  --colors-secondary-400-rgb: 174,136,127;
  --colors-secondary-500-rgb: 146,111,103;
  --colors-secondary-600-rgb: 119,87,79;
  --colors-secondary-700-rgb: 93,63,56;
  --colors-secondary-800-rgb: 68,42,35;
  --colors-secondary-900-rgb: 44,21,16;
  --colors-tertiary-10-rgb: 255, 251, 255;
  --colors-tertiary-50-rgb: 255, 239, 204;
  --colors-tertiary-100-rgb: 247,225,166;
  --colors-tertiary-200-rgb: 218,197,140;
  --colors-tertiary-300-rgb: 190,170,116;
  --colors-tertiary-400-rgb: 162,143,92;
  --colors-tertiary-500-rgb: 135,118,68;
  --colors-tertiary-600-rgb: 109,93,46;
  --colors-tertiary-700-rgb: 84,69,25;
  --colors-tertiary-800-rgb: 60,47,4;
  --colors-tertiary-900-rgb: 36,26,0;
  --colors-error-10-rgb: 255,251,255;
  --colors-error-50-rgb: 255,237,234;
  --colors-error-100-rgb: 255,218,214;
  --colors-error-200-rgb: 255,180,171;
  --colors-error-300-rgb: 255,137,125;
  --colors-error-400-rgb: 255,84,73;
  --colors-error-500-rgb: 222,55,48;
  --colors-error-600-rgb: 186,26,26;
  --colors-error-700-rgb: 147,0,10;
  --colors-error-800-rgb: 105,0,5;
  --colors-error-900-rgb: 65,0,2;
  --colors-neutral-10-rgb: 255,251,255;
  --colors-neutral-50-rgb: 251,238,235;
  --colors-neutral-100-rgb: 237,224,221;
  --colors-neutral-200-rgb: 208,196,193;
  --colors-neutral-300-rgb: 180,169,166;
  --colors-neutral-400-rgb: 153,142,140;
  --colors-neutral-500-rgb: 127,117,115;
  --colors-neutral-600-rgb: 101,92,90;
  --colors-neutral-700-rgb: 77,69,67;
  --colors-neutral-800-rgb: 54,47,45;
  --colors-neutral-900-rgb: 32,26,25;
  --colors-gray-10-rgb: 255,251,255;
  --colors-gray-50-rgb: 255,237,233;
  --colors-gray-100-rgb: 245,221,216;
  --colors-gray-200-rgb: 216,194,189;
  --colors-gray-300-rgb: 188,167,162;
  --colors-gray-400-rgb: 160,140,136;
  --colors-gray-500-rgb: 133,115,111;
  --colors-gray-600-rgb: 108,91,87;
  --colors-gray-700-rgb: 83,67,64;
  --colors-gray-800-rgb: 59,45,42;
  --colors-gray-900-rgb: 37,25,22;
  --colors-surface-50-rgb: 255,251,254;
  --colors-surface-100-rgb: 245,240,240;
  --colors-surface-200-rgb: 243,234,235;
  --colors-surface-300-rgb: 240,229,229;
  --colors-surface-400-rgb: 239,227,228;
  --colors-surface-500-rgb: 237,223,224;
  --colors-surfacedark-50-rgb: 32,26,25;
  --colors-surfacedark-100-rgb: 47,37,37;
  --colors-surfacedark-200-rgb: 54,41,41;
  --colors-surfacedark-300-rgb: 60,46,46;
  --colors-surfacedark-400-rgb: 62,47,47;
  --colors-surfacedark-500-rgb: 67,50,50;
  --colors-white-rgb: 255,255,255;
  --colors-black-rgb: 0,0,0;
}

.green-theme {
  --colors-primary-10-rgb: 248,255,233;
  --colors-primary-50-rgb: 210,255,158;
  --colors-primary-100-rgb: 194,241,142;
  --colors-primary-200-rgb: 167,212,116;
  --colors-primary-300-rgb: 140,184,92;
  --colors-primary-400-rgb: 115,157,68;
  --colors-primary-500-rgb: 90,130,45;
  --colors-primary-600-rgb: 66,105,21;
  --colors-primary-700-rgb: 45,80,0;
  --colors-primary-800-rgb: 29,55,0;
  --colors-primary-900-rgb: 15,32,0;
  --colors-secondary-10-rgb: 248,255,233;
  --colors-secondary-50-rgb: 233,245,214;
  --colors-secondary-100-rgb: 219,231,200;
  --colors-secondary-200-rgb: 191,203,173;
  --colors-secondary-300-rgb: 164,175,147;
  --colors-secondary-400-rgb: 137,149,121;
  --colors-secondary-500-rgb: 112,123,97;
  --colors-secondary-600-rgb: 87,98,74;
  --colors-secondary-700-rgb: 64,74,51;
  --colors-secondary-800-rgb: 42,51,31;
  --colors-secondary-900-rgb: 21,30,11;
  --colors-tertiary-10-rgb: 242,255,253;
  --colors-tertiary-50-rgb: 201,250,246;
  --colors-tertiary-100-rgb: 187,236,232;
  --colors-tertiary-200-rgb: 160,207,204;
  --colors-tertiary-300-rgb: 133,180,177;
  --colors-tertiary-400-rgb: 107,153,150;
  --colors-tertiary-500-rgb: 81,127,124;
  --colors-tertiary-600-rgb: 56,102,99;
  --colors-tertiary-700-rgb: 31,78,76;
  --colors-tertiary-800-rgb: 0,55,53;
  --colors-tertiary-900-rgb: 0,32,31;
  --colors-error-10-rgb: 255,251,255;
  --colors-error-50-rgb: 255,237,234;
  --colors-error-100-rgb: 255,218,214;
  --colors-error-200-rgb: 255,180,171;
  --colors-error-300-rgb: 255,137,125;
  --colors-error-400-rgb: 255,84,73;
  --colors-error-500-rgb: 222,55,48;
  --colors-error-600-rgb: 186,26,26;
  --colors-error-700-rgb: 147,0,10;
  --colors-error-800-rgb: 105,0,5;
  --colors-error-900-rgb: 65,0,2;
  --colors-neutral-10-rgb: 253,252,245;
  --colors-neutral-50-rgb: 242,241,234;
  --colors-neutral-100-rgb: 227,227,219;
  --colors-neutral-200-rgb: 199,199,192;
  --colors-neutral-300-rgb: 171,172,165;
  --colors-neutral-400-rgb: 145,145,139;
  --colors-neutral-500-rgb: 119,119,114;
  --colors-neutral-600-rgb: 94,95,89;
  --colors-neutral-700-rgb: 70,71,66;
  --colors-neutral-800-rgb: 48,49,44;
  --colors-neutral-900-rgb: 27,28,24;
  --colors-gray-10-rgb: 251,254,238;
  --colors-gray-50-rgb: 239,242,227;
  --colors-gray-100-rgb: 225,228,213;
  --colors-gray-200-rgb: 196,200,186;
  --colors-gray-300-rgb: 169,173,159;
  --colors-gray-400-rgb: 142,146,133;
  --colors-gray-500-rgb: 117,121,108;
  --colors-gray-600-rgb: 92,96,84;
  --colors-gray-700-rgb: 68,72,61;
  --colors-gray-800-rgb: 46,50,40;
  --colors-gray-900-rgb: 25,29,20;
  --colors-surface-50-rgb: 253,252,245;
  --colors-surface-100-rgb: 240,243,232;
  --colors-surface-200-rgb: 235,239,226;
  --colors-surface-300-rgb: 229,234,220;
  --colors-surface-400-rgb: 227,233,218;
  --colors-surface-500-rgb: 223,230,213;
  --colors-surfacedark-50-rgb: 27,28,24;
  --colors-surfacedark-100-rgb: 35,40,32;
  --colors-surfacedark-200-rgb: 39,46,35;
  --colors-surfacedark-300-rgb: 43,51,38;
  --colors-surfacedark-400-rgb: 44,53,39;
  --colors-surfacedark-500-rgb: 47,57,41;
  --colors-white-rgb: 255,255,255;
  --colors-black-rgb: 0,0,0;
}

.purple-theme {
  --colors-primary-10-rgb: 255,251,255;
  --colors-primary-50-rgb: 246,238,255;
  --colors-primary-100-rgb: 233,221,255;
  --colors-primary-200-rgb: 207,188,255;
  --colors-primary-300-rgb: 182,157,248;
  --colors-primary-400-rgb: 154,131,219;
  --colors-primary-500-rgb: 128,105,191;
  --colors-primary-600-rgb: 103,80,164;
  --colors-primary-700-rgb: 79,55,138;
  --colors-primary-800-rgb: 56,30,114;
  --colors-primary-900-rgb: 34,0,93;
  --colors-primary-950-rgb: 0,31,35;

  --colors-secondary-10-rgb: 255,251,255;
  --colors-secondary-50-rgb: 246,238,255;
  --colors-secondary-100-rgb: 232,222,248;
  --colors-secondary-200-rgb: 203,194,219;
  --colors-secondary-300-rgb: 176,167,192;
  --colors-secondary-400-rgb: 149,141,164;
  --colors-secondary-500-rgb: 123,116,138;
  --colors-secondary-600-rgb: 98,91,113;
  --colors-secondary-700-rgb: 74,68,88;
  --colors-secondary-800-rgb: 51,45,65;
  --colors-secondary-900-rgb: 30,25,43;

  --colors-tertiary-10-rgb: 255,251,255;
  --colors-tertiary-50-rgb: 255,236,240;
  --colors-tertiary-100-rgb: 255,217,227;
  --colors-tertiary-200-rgb: 239,184,200;
  --colors-tertiary-300-rgb: 210,157,173;
  --colors-tertiary-400-rgb: 181,131,146;
  --colors-tertiary-500-rgb: 153,106,121;
  --colors-tertiary-600-rgb: 126,82,96;
  --colors-tertiary-700-rgb: 99,59,72;
  --colors-tertiary-800-rgb: 74,37,50;
  --colors-tertiary-900-rgb: 49,16,29;

  --colors-error-10-rgb: 255,251,255;
  --colors-error-50-rgb: 255,237,234;
  --colors-error-100-rgb: 255,218,214;
  --colors-error-200-rgb: 255,180,171;
  --colors-error-300-rgb: 255,137,125;
  --colors-error-400-rgb: 255,84,73;
  --colors-error-500-rgb: 222,55,48;
  --colors-error-600-rgb: 186,26,26;
  --colors-error-700-rgb: 147,0,10;
  --colors-error-800-rgb: 105,0,5;
  --colors-error-900-rgb: 65,0,2;

  --colors-neutral-10-rgb: 255,251,255;
  --colors-neutral-50-rgb: 244,239,244;
  --colors-neutral-100-rgb: 230,225,230;
  --colors-neutral-200-rgb: 202,197,202;
  --colors-neutral-300-rgb: 174,170,174;
  --colors-neutral-400-rgb: 147,143,148;
  --colors-neutral-500-rgb: 121,118,122;
  --colors-neutral-600-rgb: 96,93,98;
  --colors-neutral-700-rgb: 72,70,74;
  --colors-neutral-800-rgb: 49,48,51;
  --colors-neutral-900-rgb: 28,27,30;

  --colors-gray-10-rgb: 255,251,255;
  --colors-gray-50-rgb: 245,238,250;
  --colors-gray-100-rgb: 231,224,235;
  --colors-gray-200-rgb: 202,196,207;
  --colors-gray-300-rgb: 175,169,180;
  --colors-gray-400-rgb: 148,143,153;
  --colors-gray-500-rgb: 122,117,127;
  --colors-gray-600-rgb: 97,93,102;
  --colors-gray-700-rgb: 73,69,78;
  --colors-gray-800-rgb: 50,47,56;
  --colors-gray-900-rgb: 29,26,34;

  --colors-surface-50-rgb: 255,251,254;
  --colors-surface-100-rgb: 248,243,249;
  --colors-surface-200-rgb: 243,238,247;
  --colors-surface-300-rgb: 238,232,243;
  --colors-surface-400-rgb: 237,230,242;
  --colors-surface-500-rgb: 234,227,241;
  --colors-surfacedark-50-rgb: 28,27,31;
  --colors-surfacedark-100-rgb: 38,36,42;
  --colors-surfacedark-200-rgb: 42,40,48;
  --colors-surfacedark-300-rgb: 48,45,55;
  --colors-surfacedark-400-rgb: 51,47,58;
  --colors-surfacedark-500-rgb: 54,50,62;
  --colors-white-rgb: 255,255,255;
  --colors-black-rgb: 0,0,0;
}

.yellow-theme {
  --colors-primary-10-rgb: 255,251,255;
  --colors-primary-50-rgb: 250,246,122;
  --colors-primary-100-rgb: 236,231,110;
  --colors-primary-200-rgb: 207,203,85;
  --colors-primary-300-rgb: 179,175,60;
  --colors-primary-400-rgb: 152,148,34;
  --colors-primary-500-rgb: 126,122,0;
  --colors-primary-600-rgb: 100,97,0;
  --colors-primary-700-rgb: 75,73,0;
  --colors-primary-800-rgb: 51,50,0;
  --colors-primary-900-rgb: 30,29,0;
  --colors-secondary-10-rgb: 255,251,255;
  --colors-secondary-50-rgb: 246,242,204;
  --colors-secondary-100-rgb: 232,228,191;
  --colors-secondary-200-rgb: 203,200,164;
  --colors-secondary-300-rgb: 175,173,138;
  --colors-secondary-400-rgb: 149,146,113;
  --colors-secondary-500-rgb: 122,120,89;
  --colors-secondary-600-rgb: 97,96,66;
  --colors-secondary-700-rgb: 73,72,44;
  --colors-secondary-800-rgb: 50,49,24;
  --colors-secondary-900-rgb: 29,28,6;
  --colors-tertiary-10-rgb: 244,255,247;
  --colors-tertiary-50-rgb: 206,251,229;
  --colors-tertiary-100-rgb: 192,236,215;
  --colors-tertiary-200-rgb: 165,208,187;
  --colors-tertiary-300-rgb: 138,180,161;
  --colors-tertiary-400-rgb: 112,154,135;
  --colors-tertiary-500-rgb: 87,127,110;
  --colors-tertiary-600-rgb: 62,102,85;
  --colors-tertiary-700-rgb: 38,78,62;
  --colors-tertiary-800-rgb: 12,55,41;
  --colors-tertiary-900-rgb: 0,33,22;
  --colors-error-10-rgb: 255,251,255;
  --colors-error-50-rgb: 255,237,234;
  --colors-error-100-rgb: 255,218,214;
  --colors-error-200-rgb: 255,180,171;
  --colors-error-300-rgb: 255,137,125;
  --colors-error-400-rgb: 255,84,73;
  --colors-error-500-rgb: 222,55,48;
  --colors-error-600-rgb: 186,26,26;
  --colors-error-700-rgb: 147,0,10;
  --colors-error-800-rgb: 105,0,5;
  --colors-error-900-rgb: 65,0,2;
  --colors-neutral-10-rgb: 255,251,255;
  --colors-neutral-50-rgb: 244,240,231;
  --colors-neutral-100-rgb: 230,226,217;
  --colors-neutral-200-rgb: 202,198,190;
  --colors-neutral-300-rgb: 174,171,163;
  --colors-neutral-400-rgb: 147,145,137;
  --colors-neutral-500-rgb: 121,119,112;
  --colors-neutral-600-rgb: 96,94,88;
  --colors-neutral-700-rgb: 72,71,64;
  --colors-neutral-800-rgb: 49,48,43;
  --colors-neutral-900-rgb: 28,28,22;
  --colors-gray-10-rgb: 255,251,255;
  --colors-gray-50-rgb: 245,241,223;
  --colors-gray-100-rgb: 230,227,209;
  --colors-gray-200-rgb: 202,199,182;
  --colors-gray-300-rgb: 174,172,155;
  --colors-gray-400-rgb: 148,145,129;
  --colors-gray-500-rgb: 122,119,105;
  --colors-gray-600-rgb: 96,95,81;
  --colors-gray-700-rgb: 72,71,58;
  --colors-gray-800-rgb: 50,49,37;
  --colors-gray-900-rgb: 29,28,17;
  --colors-surface-50-rgb: 255,251,255;
  --colors-surface-100-rgb: 244,241,228;
  --colors-surface-200-rgb: 240,237,221;
  --colors-surface-300-rgb: 235,232,214;
  --colors-surface-400-rgb: 233,231,211;
  --colors-surface-500-rgb: 230,228,206;
  --colors-surfacedark-50-rgb: 28,28,22;
  --colors-surfacedark-100-rgb: 40,40,28;
  --colors-surfacedark-200-rgb: 45,45,30;
  --colors-surfacedark-300-rgb: 50,50,32;
  --colors-surfacedark-400-rgb: 52,52,33;
  --colors-surfacedark-500-rgb: 55,55,34;
  --colors-white-rgb: 255,255,255;
  --colors-black-rgb: 0,0,0;
}